<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
     <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <appSettings>
    <add key="IDPSSOURL" value="http://chn-vm-devcomm7/IdP/SSOService.aspx" />
    <add key="IDPSLOURL" value="http://chn-vm-devcomm7/Idp/SLOService.aspx" />
    <add key="AssertionConsumeURL" value="http://idc-lt-i15230/SPLocal/ConsumeSSO.aspx" />
    <add key="SingleLogoutServiceUrl" value="http://idc-lt-i15230/SPLocal/ConsumeSLO.aspx" />
  </appSettings>
</configuration>